.App {
  text-align: center;
  background: rgb(26,26,46);
  background: linear-gradient(90deg, rgba(26,26,46,1) 34%, rgba(22,57,80,1) 50%, rgba(18,83,110,1) 64%, rgba(13,122,154,1) 80%, rgba(0,212,255,1) 100%, rgba(32,120,170,1) 100%);
}

.logo-div{
  display: flexbox;
  float: left;
}

.logo {
  height: 100px;
  pointer-events: none;
}

.nav-container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-container{
  display: flexbox;
  float: right;
  padding-right: 40px;
  border-radius: 10px;
  height: 45px;
  
}
.wallet-connect-btn{
  background: -webkit-linear-gradient(left, #FF1744, #F50057);
  font-size: 18px;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin: 20px 10px;
  border-radius: 20px;
  padding: 0px 2rem;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.header-container{
  padding-top: 50px;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(26,26,46);
  background: linear-gradient(90deg, rgba(26,26,46,1) 34%, rgba(22,57,80,1) 50%, rgba(18,83,110,1) 64%, rgba(13,122,154,1) 80%, rgba(0,212,255,1) 100%, rgba(32,120,170,1) 100%);
}

.standard-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.switch-header{
  font-size: 2rem;
}